[Desktop Entry]
Categories=X-lernstick;
Exec=bash -c "sleep 3 && firefox"
Terminal=false
Icon=campla
Name=Open CAMPLA
Name[de]=CAMPLA öffnen
Type=Application
